<div [formGroup]="form">
    <div *ngIf="field.id!='password'">
        <label for="{{field.id}}" class="text-primary">{{field.label}}</label>
        <input type="text" id="{{field.id}}" name={{field.id}} class="form-control" [formControlName]="field.id"  ngModel  placeholder="{{field.label}}" >
    </div>

    <label for="{{field.id}}" *ngIf="field.id=='password'" class="text-primary">{{field.label}}</label>
    <div class="input-group" *ngIf="field.id=='password'">
        <input [type]="fieldTextType ? 'text' : 'password'" id="{{field.id}}" name={{field.id}} class="form-control" [formControlName]="field.id"  ngModel  placeholder="{{field.label}}" >
        <div class="input-group-append" (click)="toggleFieldTextType()">
          <span class="input-group-text">
            <fa-icon [icon]="fieldTextType ? 'eye-slash' : 'eye'"></fa-icon>
            <!--<i class="fa fa-eye-slash"></i>-->
          </span>
        </div>
    </div>

    <span class="error" *ngIf="form.get(field.id).hasError('required')">{{field.id}} is required</span>
    <span class="error" *ngIf="form.get(field.id).hasError('email')">{{field.id}} is not in good format</span>
    <span class="error" *ngIf="form.get(field.id).hasError('minlength')">Minimum is {{field.constraints.minlength}} characters </span>
    <span class="error" *ngIf="form.get(field.id).hasError('maxlength')">Maximum is {{field.constraints.maxlength}} characters </span>
    <span class="error" *ngIf="form.get(field.id).hasError('pattern')">
        <ul><li>At least 8 characters in length</li>
            <li>Lowercase letters</li>
            <li>Uppercase letters</li>
            <li>Numbers</li>
            <li>Special characters</li>
        </ul>
    </span>

</div>
<br>

