<div class="container">
    <div class="container d-flex justify-content-center">
        <div class="col-12">
            <h2>Review Documents Table</h2>
            <table  class="record_table table table-hover table-bordered">
                <thead class="thead-secondary">
                    <tr>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of tableRows">
                      <td *ngFor="let td of toArray(row)">
                        <div *ngIf="td.fieldId=='pdf'">
                          <button class="btn btn-primary" (click)="download(td.fieldValue)"><i class="fa-spin"></i> Review Text</button>
                        </div>
                        <div *ngIf="td.fieldId!='pdf'">
                          {{td.fieldValue}}
                        </div>
                      </td>
                    </tr>
                    <tr>

                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>
