<div class="container">
    <div class="container d-flex justify-content-center">
        <div class="col-12">
            <h2>Review Documents Table</h2>
            <table  class="record_table table table-hover table-bordered">
                <thead class="thead-secondary">
                    <tr>
                        <th>Pdf</th>
                        <th>Owner</th>
                        <th colspan="3">Functions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button class="btn btn-primary">Download</button>
                        </td>
                        <td>Test</td>
                        <td>
                            <button class="btn btn-primary">Accept</button>
                        </td>
                        <td>
                            <button class="btn btn-danger">Reject</button>
                        </td>
                        <td>
                            <button class="btn btn-info">More documentation</button>
                        </td>
                    </tr>
                    <tr>

                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>
