<div class="container">
  <div class="container h-100 d-flex justify-content-center">
    <div class="container jumbotron w-50 bg-light text-white">
      <h2 class="text-primary">Registration form</h2>
      <br>
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>

        <div *ngFor="let field of formFields" class="form-group " >
            <label for={{field.id}} class="text-primary">{{field.label}}</label>
            <input type="text" name={{field.id}} class="form-control" ngModel  *ngIf="field.type.name=='string'" placeholder="{{field.label}}" >
            <input type="checkbox" name={{field.id}} class="form-control" ngModel  *ngIf="field.type.name=='boolean'">
            <input type="number" name={{field.id}} class="form-control" ngModel  *ngIf="field.type.name=='long'">
            <select name="field.id" *ngIf="field.type.name=='enum'" (change)="onRoleChange($event.target.value)" ngModel class="form-control">
              <option *ngFor="let val of enumValues" value={{val}}>
                {{field.type.values[val]}}
              </option>
            </select>


        </div>

        <div class="form-group" *ngIf="isBeta">
          <label for="genres" class="text-primary">Genres</label>
          <select name="genres" class="form-control" multiple>
            <option *ngFor="let genre of genreList" value="{{genre.id}}">
              {{genre.name}}
            </option>
          </select>
        </div>


        <input type="submit" class="btn btn-primary float-right" value="Register">
      </form>
    </div>
  </div>
</div>
