<div class="container">
  <div class="container h-100 d-flex justify-content-center">
    <div class="container jumbotron w-50 bg-light text-white">
      <h2 class="text-primary">{{formName}} form</h2>
      <br>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!load">
        <p *ngIf=load>Loading...</p>

        <div *ngFor="let field of formFields" [ngSwitch]="field.input">
          <app-text-input-field [field]="field" [form]="form" *ngSwitchCase="['text']"></app-text-input-field>
          <app-radio-button-field [field]="field" [form]="form" (isBeta)="setBeta($event)"  [enumValues]="enumValues" *ngSwitchCase="['radio']"></app-radio-button-field>
          <app-enum-select-field [field]="field" [form]="form" [isBeta]="isBeta" *ngSwitchCase="['enum']" ></app-enum-select-field>
          <app-pdf-input-field [field]="field" [form]="form" *ngSwitchCase="['file']"></app-pdf-input-field>
        </div>
        <br>
        <div>
          <input type="submit" class="btn btn-primary float-right" value="Register" [disabled]="this.form.invalid">
        </div>
      </form>
    </div>
  </div>
</div>
