<div>
    <label for={{field.id}} class="text-primary">{{field.label}}</label>
    <select name="{{field.id}}" ngModel class="form-control" *ngIf="field.custom=='single.select'">
        <option *ngFor="let val of enumValues">
            {{field.type.values[val]}}
        </option>
    </select>

    <select name="{{field.id}}" ngModel class="form-control" *ngIf="field.constraint=='multi.select'" multiple>
        <option *ngFor="let val of field.availableValues">
            {{val}}
        </option>
    </select>
</div>
